.nav-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px auto; 
    width: 70%; 
}

.nav-link:hover {
    color: #e81e54;
}

.nav-link {
    text-decoration: none;
    color: #F87597;
    font-family: cursive;         
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #F87597;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}