.App-header{
    background: pink;
    color:rgb(92, 21, 82);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-header h2{
    color: rgb(96, 7, 103);
}

.imgHeader{
    justify-content: center;
    gap: 30px;
}

.imgHeader img{
    width: 500px;
    height: 400px;
    padding: 50px;
}